{% extends "base.html" %}
{% block content %}
<h2>Рассылка ID: {{ mailing.id }}</h2>
<p><strong>Статус:</strong> {{ mailing.status }}</p>
<p><strong>Дата начала:</strong> {{ mailing.start_time }}</p>
<p><strong>Дата окончания:</strong> {{ mailing.end_time }}</p>
<p><strong>Сообщение:</strong> {{ mailing.message.subject }}</p>
<a href="{% url 'mailing:mailing_update' mailing.pk %}">Редактировать</a>
<a href="{% url 'mailing:mailing_delete' mailing.pk %}">Удалить</a>
<a href="{% url 'mailing:send_mailing' mailing.pk %}">Отправить</a>
<a href="{% url 'mailing:mailing_attempt_list' mailing.pk %}">Просмотреть Попытки</a>
<a href="{% url 'mailing:mailing_list' %}">Назад к списку</a>
{% endblock %}
